.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #272727;
  border-radius: 6px;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .card-container {
    width: 35%;
  }
}
.website-logo {
  margin: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.label {
  font-size: 15px;
  font-weight: 400;
  font-family: 'roboto';
  color: #fff;
  margin-bottom: 6px;
}
.input {
  outline: none;
  border: 1px solid #b6c5ff;
  height: 35px;
  background-color: transparent;
  border-radius: 3px;
  padding-left: 10px;
  color: #fff;
}
.login-btn {
  width: 100%;
  background-color: #4f46e5;
  padding: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-family: 'roboto';
  border: none;
  margin-top: 10px;
  border-radius: 8px;
}
.error-msg {
  font-size: 12px;
  font-family: 'roboto';
  color: red;
  margin-top: 10px;
}
